*.aux
*.log
*.out
*.synctex.gz
*.tex.orig
*Bericht.pdf
*Bericht-blx.bib
*Bericht.bbl
*Bericht.bcf
*Bericht.blg
*Bericht.run.xml
*.tex.swp
*/Bericht.fdb_latexmk
*/Bericht.fls
*.xcf
*.DS_Store

revision.tex

*~
.~lock.*
